.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .wrapper{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.main .wrapper .card{
  width: 23%;
  height: 400px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.main .wrapper .card p{
  color:blueviolet;
  font-size: x-large;
}
